<% include ../partials/header %>
     
     
    



<div class="container">
<header class="jumbotron">
   
 <h1>Best places to visit in <%= city.name%> </h1>
  

<p>
    <a class="btn btn-primary btn-lg" href="/cities/<%=city.id%>/Places/new">Add your own place</a>

</p>
 
</header>











<div class="row" style="display:flex; flex-wrap: wrap;">

   <% city.places.forEach(function(place){ %>

    <div class="col-md-3 col-sm-6">
        
<div class="thumbnail"  >
    
    <img src="<%= place.image %>">
    <div class="text-center">
    <div class="caption td">
        <h4><%= place.name %></h4>
        
    </div>
   
    <p>
        <a href="/cities/<%=city.id%>/Places/<%=place.id%>" class="btn btn-primary">More Info</a>
    </p>
</div>
</div>
</div>
<% }); %>

</div>
</div>

<% include ../partials/footer %>
     
     
     
     
    