<% include ../partials/header %>
<div class="row">
  <div class="col-md-3">
       <div class="list-group">
         
         
         
          
          <a href="/" class="list-group-item active">About <%=city.name%></a>
             <a href="/cities/<%= city._id %>/Places" class="list-group-item">Places to visit in <%=city.name%></a>
              <a href="" class="list-group-item">Gallery</a>
         
         
          </div>
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
         
      <img class="card-img-top" src="<%= city.image %>" alt="<%= city.name %>">
      <div class="card-body">
        <p class="float-right">
          $<%= city.cost %>/night
        </p>
        <h5 class="card-title"><%= city.name %></h5>
        <p>
          
        </p>
        <hr>
        <p class="card-text"><%= city.description %></p>
        <% if(currentUser && city.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/cities/<%= city._id %>/edit">Edit</a>
        <form action="/cities/<%= city._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <a class="btn btn-success" href="/cities/<%= city._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <div class="row">
        <% city.comments.forEach(function(comment){ %>
          <div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="float-left">
                  <p class="card-title"><%= comment.author.username %></p>
                  <p class="card-text"><%= comment.text %></p>
                </div>
                <div class="float-right">
                 
                  
                  <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                  <div class="float-right">
                    <a href="/cities/<%=city._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                    <form class="delete-form" action="/cities/<%=city._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">DELETE</button>
                        </form>
                        
                        
                        
                        
                        
                        
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  function initMap() {
    var lat = <%= city.lat %>;
    var lng = <%= city.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong> <%= city.name %><br />
      <%= city.location %></strong>
      <p><%= city.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map,
        
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM24O6tZenujZE3-SoM8BJDIJlFYqnNMg&callback=initMap"
    async defer></script>
<% include ../partials/footer %>